<nav class="navbar navbar-static-top navbar-inverse" sticky>
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <a ui-sref="graca.home" class="logo-menu"></a>
      <ul class="nav navbar-nav main-menu">
        <li ui-sref-active="active"><a ui-sref="graca.sobre">Sobre Nós</a></li>
        <li ui-sref-active="active"><a ui-sref="graca.mamae">Mamãe e Bebê</a></li>
        <li ui-sref-active="active"><a ui-sref="graca.cadernos">Cadernos</a></li>
        <li ui-sref-active="active"><a ui-sref="graca.diversos">Diversos</a></li>
        <li ui-sref-active="active"><a ui-sref="graca.maletas">Maletas</a></li>
        <li ui-sref-active="active"><a ui-sref="graca.kits">Kits</a></li>
        <li ui-sref-active="active"><a ui-sref="graca.shop">Shop</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right main-menu">
        <li><a ng-href="http://www.facebook.com/arteegraca"><i class="fa fa-facebook"></i></a></li>
        <li><a ng-href="http://www.instagram.com/arteegraca"><i class="fa fa-instagram"></i></a></li>
        <li><a ng-href="www.youtube.com/arteegraca"><i class="fa fa-youtube"></i></a></li>
        <li><a ng-href="#"><i class="fa fa-envelope"></i></a></li>
      </ul>
    </div>
  </div>
</nav>