$assetsPath: "../assets";
$bgColor: #b5cc5a;
$white: #FFF;
$black: #000;
$fontFamily: 'Satisfy', cursive;
$menuItemColor: #3e3c30;
$menuActiveBackgroundColor: #005425;
$borderRadius: 4px;
$mainMenuFontSize: 16px;
$sideMenuFontSize: 15px;
